* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;   
}

.container{
    margin-left: 50px;
}
.chat {
    /* width: 500px;
    height: 80%; */
    position: fixed;
    overflow: scroll;
    align-items: center;
    
}

.actions {
    /* position: fixed; */
    bottom: 0;
    display: block;
    width: 100%;
}

.actions input {
    height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    border-top: 50px;
    border-left: 0;
    border-right: 0;
}

.messages div {
    max-width: 60%;
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}

.messsages .bot {
    text-align: left;
    margin-right: auto;
    background-color: #001f3f;
    color: lightblue;
}

.messages .self {
    text-align: right;
    margin-left: auto;
    background-color: lightgreen;
}